* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior : smooth;
}

.flex_container{
    position :relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.first_page_container{
    width: 50%;
    height: auto;
    overflow: hidden;
}

.first_page_container img{
    max-width: 100%;
    position: relative;
    top: -33%;
    /*filter: blur(1px);*/
}

.first_page_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25); /* Noir avec une opacité de 75% */
    z-index: 1; /* Assurez-vous que le calque noir est au-dessus de l'image */
  }